name: 'Checkov'

on:
  push:
  pull_request:

  workflow_dispatch:

permissions:
  contents: read

jobs:
  scan:
    name: 'Checkov'
    environment: production

    permissions:
      contents: read
      security-events: write
      actions: read

    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Checkov Github Action
      uses: bridgecrewio/checkov-action@v12
      with:
        directory: terraform
        quiet: true
        framework: terraform
        var_file: test/terraform.test.tfvars
        output_format: cli,sarif
        output_file_path: console,results.sarif
        skip_check: CKV2_AWS_39

    - name: Upload SARIF file
      uses: github/codeql-action/upload-sarif@v2

      if: success() || failure()
      with:
        sarif_file: results.sarif