name: 'Terraform'

on:
  push:
    branches: [ $default-branch, 'github-actions' ]
  pull_request:

permissions:
  contents: read

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    environment: production

    defaults:
      run:
        shell: bash

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.13.0

    - name: Terraform Init
      run: terraform -chdir=terraform init

    - name: Terraform Lint
      id: lint
      run: terraform fmt -check -recursive terraform/
