name: 'Terraform'

on:
  push:
    branches: [ $default-branch, 'github-actions' ]
  pull_request:

permissions:
  contents: read

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    environment: production

    defaults:
      run:
        shell: bash

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.13.0

    - name: Terraform Init
      run: terraform init

    - name: Terraform Lint
      id: lint
      run: terraform fmt -check -recursive terraform/

    - run: echo ${{ steps.lint.outputs.stdout }}
    - run: echo ${{ steps.lint.outputs.stderr }}
    - run: echo ${{ steps.lint.outputs.exitcode }}

    - name: Terraform Plan
      id: plan
      run: terraform -chdir=terraform plan -input=false -no-color -var-file=../test/terraform.test.tfvars

    - run: echo ${{ steps.plan.outputs.stdout }}
    - run: echo ${{ steps.plan.outputs.stderr }}
    - run: echo ${{ steps.plan.outputs.exitcode }}